<ion-header>
  <ion-toolbar>
    <ion-title>
      Latest News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of data" (click)="currentArticle(article)">
    <ion-card-header>
      <ion-img src="{{article.urlToImage}}"></ion-img>

    </ion-card-header>

    <ion-card-content>
      <ion-card-title>{{article.title}}</ion-card-title>
      {{article.description}}
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <h6> {{article.publishedAt  | date: "dd/MM/yyyy hh:mm a"}}</h6>
          </ion-col>
          <ion-col>
            <h6> {{article.source.name}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>